<h1>Basic Widget Compositing</h1>

<p>
    Implementing certain types of widgets, like
    buttons, inputs, canvases and the like, is
    important. It gives essential functionality
    to an otherwise purely decorative graphical
    user interface.
</p>

<p>
    However, it is a bit limiting to implement
    widgets via class inheritance, that is, by
    implememting just a few kinds of widgets, and
    assigning a widget to one of them.
</p>

<p>
    Therefore, instead of that, widgets are
    implemented using a concept that derives
    from a well-known technique:

    <b>W<small>idget</small></b>-<b><small>C</small>omponent</b>-<b><small>S</small>ystem</b>.
</p>

<p>
    Derived fom Entity-Component-System, WCS has a couple main parts, apart
    from the obvious
    <a href="layout.html">(and hopefully already known to the reader)</a>
    widgets:
</p>

<ul>
    <li>
        The <b>component</b>, which is data assigned
        to a specific widget;
    </li>

    <li>
        The <b>system</b>, which is a functionality module
        assigned to select widgets throughout the whole
        application.
    </li>
</ul>


<h3>Components</h3>

Components are small pieces of serializable data assigned to
a widget, via a hash map from component names to components
themselves.

<h3>Systems</h3>

Systems are application-wide routines that are registered on
every widget that has a reference to them, via the event API
(i.e., <pre style="display: inline">BaseWidget.register</pre>).
They may be activated and deactivated application-wide, as well
as for a single widget, at runtime.

<h3>Widgets</h3>

To integrate with this new functionality compositing system, every
widget has both a map of components and a list of references
to systems that should run on this widget. It's faster than 
iterating on every widget, and on every system, and running
only systems that match a select pattern of required components.