<h1>Handlers</h1>

<p>
    Every window and widget has a list of listeners
    and methods. A set of properties, listeners and
    methods is known as a <b>handler</b>, which is
    not an object by itself, but rather an abstract
    construct.
</p>

<p>
    For example, a dragging handler can
    set the 'dragging' boolean property on the mouse
    up and down listeners, and call its own 'drag'
    method on the mouse move listener.
</p>

<p>
    All listener properties, methods and listeners
    are assigned to a widget or window via the
    'register' method.
</p>