<h1>Nowis Basic Widget Layout</h1>

<p>
    Nowis operates on the principle of Windows And Widgets (WAW).
    This means there are multiple windows; each window is a tree
    of widgets, maybe with multiple roots, and each widget holds
    information to describe a rectangular area (i.e. size and layout),
    and components that contain data about itself (including contents),
    as well as data (common widget properties, like layout), and a set
    of children.
</p>

<h3>Basics</h3>

<img src="imgs/spec.png">

<h3>Widget Area</h3>

<p>
    Every widget is a rectangular area with extra meta info added to it
    and with content and children. Every widget's children must stay
    within these bounds, or else it will be clipped. (Parent widgets
    may define clipping offsets, e.g. when making a scroll bar.)
</p>

<img src="imgs/window-area.png">

<p>
    The layout is based on Tkinter's grid layout.
</p>
